plugins {
   id 'nf-datatrail'
}

dag {
    enabled = true
    file = 'dag.dot'
    overwrite = true
}

trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true
    raw = true
    fields = 'task_id,process,realtime,%cpu,rss,rchar,wchar,read_bytes,write_bytes,workdir,name'
}

docker {
    enabled = true
}

executor {
    name = 'slurm'
    queueSize = 1000
    submitRateLimit = '50/sec'
}

dag.overwrite = 'true'

datatrail {
    input = "input.csv"
    output = "output.csv"
}

datatrail {
    summary = "summary.csv"
}

overwrite = 'true'
