params {
	max_cpus = 1
}

executor {
	name = 'local'
	cpus = 1
	queueSize = 1
}

dag {
	enabled = true
	file = '../dag.dot'
	overwrite = true
}

trace {
	enabled = true
	file = '../trace.txt'
	overwrite = true
	raw = true
	fields = 'process,task_id,realtime,%cpu,rss,rchar,wchar,read_bytes,write_bytes,workdir'
	sep = '\t'
}